{{ define "title" }}
<title>Following{{ if (and .Pagination (gt .Pagination.Page 1)) }} (page {{ .Pagination.Page }}){{ end }} | {{ .Site.Title | safeHTML }}</title>
<meta name="Description" content="Following{{ if (and .Pagination (gt .Pagination.Page 1)) }} (page {{ .Pagination.Page }}){{ end }} | {{ .Site.Title | safeHTML }}" />
{{ end }}

{{ define "content" }}
    {{ template "content_updates" . }}
{{ end }}

{{ define "sidebar" }}
    {{ template "sidebar_updates" . }}
{{ end }}
