{{ define "sidebar_profile" }}

	<div class="metabar-module">
	{{ if eq .Profile.ID .User.ID }}
		<div class="metabar-module-primary-buttons">
			<a id="edit_profile" href="{% url 'edit-profile' .User.ID %}" class="btn btn-large btn-block btn-primary"><span class="sprite sprite-pencil-small"></span> Edit your Profile</a>
			<a href="/ignored/" class="btn btn-large btn-block btn-primary"><span class="sprite sprite-format-list"></span> View Ignored</a>
		</div>
	{{ else }}
		<div class="metabar-module-primary-buttons">
			{{ if .User }}
			<a href="{% url 'create-huddle' %}?to={{ .Profile.ID }}" class="btn btn-large btn-block btn-primary"><span class="sprite sprite-envelope-small"></span> Send Message</a>
			{{ else }}
			<a href="#" data-toggle="modal" data-target="#modal-signin" class="btn btn-large btn-block btn-primary"><span class="sprite sprite-envelope-small"></span> Send Message</a>
			{{ end }}
		</div>
	{{ end }}
	</div> <!-- primary actions -->

	{{ if .Profile.Email }}
	<div class="metabar-module">
		<h5>About</h5>
		<div class="metabar-module-body">
			<a href="mailto:{{ .Profile.Email | safeHTML }}">{{ .Profile.Email | safeHTML }}</a>
		</div>
	</div>
	{{ end }}

	<div class="metabar-module">
		<h5>Actions</h5>
		<div class="metabar-module-body">
			{ { include 'forms/subscribe.html' } }
		</div>
		{{ if and .User (not (eq .Profile.ID .User.ID)) }}
			<div class="metabar-module-body">
				<form action="/ignore/" method="POST" id="ignore_form">
					{ { csrf_token } }
					<input type="hidden" name="item_type" value="profile" />
					<input type="hidden" name="item_id" value="{{ .Profile.ID }}" />
					{{ if .Profile.Meta.Flags.Ignored }}
					<input type="hidden" name="delete" value="true" />
					<input type="submit" value="Unignore" class="btn btn-default btn-xs" />
					{{ else }}
					<input type="submit" value="Ignore" class="btn btn-default btn-xs" />
					{{ end }}
				</form>
			</div>
			{{ if .Profile.Meta.Permissions.IsSiteOwner }}
				<div class="metabar-module-body">
					<form action="/profiles/{{.Profile.ID}}/patch/" method="POST" id="patch_form">
						{ { csrf_token } }
						{{ if .Profile.IsMember }}
							<button type="submit" name="member" value="false" class="btn btn-default btn-xs">Revoke membership</button>
						{{ else }}
							<button type="submit" name="member" value="true" class="btn btn-default btn-xs">Grant membership</button>
						{{ end }}
					</form>
				</div>
			{{ end }}
		{{ end }}
	</div>

{{ end }}