{{- define "content_microcosm" -}}
<div class="content-header padded">
	<div class="row">
		<div class="col-sm-6">
			{{- template "breadcrumb" (dict "content" .Microcosm "skipParents" false "skipSelf" true "section" .Section) -}}
		</div>
		<div class="col-sm-6">
			{{- template "pagination" (dict "pagination" .Pagination "query" .Query) -}}
		</div>
	</div>
</div>

<div class="content-body">
	<!-- TODO {% include "forms/content-moderation.html" %} -->
	<div class="list-items">
		<ul class="list-collection bordered padded">
		{{ $user := .User }}
		{{- range .Microcosm.Items.Items -}}
			{{- if eq .ItemType "microcosm" -}}
				{{- template "block_microcosm" (dict "microcosm" .AsMicrocosmSummary "showForum" false "user" $user) -}}
			{{- else -}}
				{{- if eq .ItemType "conversation" -}}
					<li>{% conversation item %}</li>
				{{- else -}}
					{{- if eq .ItemType "event" -}}
						<li>{% event item %}</li>
					{{- end -}}
				{{- end -}}
			{{- end -}}
		{{- end -}}
		</ul>
	</div>
	<!-- TODO {% include "forms/content-moderation.html" %} -->
</div>

<div class="content-footer padded">
	<div class="row">
		<div class="col-sm-6"></div>
		<div class="col-sm-6">
			{{- template "pagination" (dict "pagination" .Pagination "query" .Query) -}}
		</div>
	</div>
</div>
{{- end -}}