{{ define "base" -}}
<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8" />

		<link rel="preconnect" href="https://{{ .Site.SubdomainKey }}.microco.sm">
		<link rel="preconnect" href="https://login.persona.org">
		<link rel="preconnect" href="https://static.login.persona.org">
		<link rel="preconnect" href="https://fonts.googleapis">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>

		{{ template "title" . }}
		
		<meta name="referrer" content="origin">

		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<meta http-equiv="X-UA-Compatible" content="IE=Edge" />
		<!--[if lt IE 9]>
		  <script src="/static/3rd/html5shiv/3.7.3/html5shiv.min.js"></script>
		  <script src="/static/3rd/respond.js/1.4.2/respond.min.js"></script>
		<![endif]-->
		<link href="/static/themes/{{ .Site.ThemeID | default 1 }}/css/bootstrap.min.css" rel="stylesheet" type="text/css" />

		<link rel="shortcut icon" href="{{ .Site.FaviconURL | default "/static/img/favico.png" }}" />

		<meta name="subdomain" content="https://{{ .Site.SubdomainKey }}.microco.sm" />

		<style type="text/css" id='site-style'>
		a, a:hover, a:focus, a:active {
			color: {{ .Site.LinkColor }};
		}
		body {
			background-color: {{ .Site.BackgroundColor }};
			{{ if ne .Site.BackgroundURL "" }}
			background-image: url('{{ .Site.BackgroundURL }}');
				{{ if eq .Site.BackgroundPosition "tile" }}
					background-repeat: repeat;
				{{ else if eq .Site.BackgroundPosition "cover" }}
					background-size: cover;
					background-attachment: fixed;
				{{ else if eq .Site.BackgroundPosition "tall" }}
					background-size: 150% 100%;
					background-attachment: fixed;
					background-position-x: 50%;
				{{ else if eq .Site.BackgroundPosition "wide" }}
					background-size: 100% 150%;
					background-attachment: fixed;
					background-position-y: 50%;
				{{ else }}
					background-repeat: no-repeat;
					background-position: {{ .Site.BackgroundPosition }} top;
				{{ end }}
			{{ end }}
		}

		#auth0signin, #auth0signin:focus, #auth0signin:active {
		    /* Remove all decorations to look like normal text */
		    background: none;
		    border: none;
		    display: inline;
		    font: inherit;
		    margin: 0;
		    padding: 0;
		    outline: none;
		    outline-offset: 0;
		    /* Additional styles to look like a link */
		    cursor: pointer;
		    text-decoration: underline;
		}
		/* Remove extra space inside buttons in Firefox */
		#auth0signin::-moz-focus-inner {
		    border: none;
		    padding: 0;
		}
		</style>
		{{ template "css" . }}
	</head>
	<body>
		<nav class="navbar navbar-default" role="navigation">
			<div class="navbar-header-wrapper tiling-bg" id="headerBackground">
				<div class="container">
					<div class="row">
						<!-- Brand and toggle get grouped for better mobile display -->
						<div class="navbar-header col-xs-12">
							<button type="button" class="navbar-toggle-btn navbar-toggle menu-toggle" data-toggle="collapse" data-target=".navbar-collapse">
								<span class="sr-only">Toggle navigation</span>
								<span class="sprite sprite-drawer"></span>
							</button>

							<button type="button" class="navbar-toggle-btn metabar-toggle">
								<span class="sr-only">Toggle metabar</span>
								<span class="sprite sprite-menu-2"></span>
							</button>

							<div class="row">
								<div class="col-sm-3 col-md-3 col-lg-2 navbar-brand">
									<a href="/" title="Return to Homepage"><img src="{{ .Site.LogoURL }}" alt="{{ .Site.Title | safeHTML }}" id="logo" /></a>
								</div>

								<div class="col-md-3 col-lg-3 navbar-profile">
									{{ if .User }}
										<div class="navbar-profile-row-1">
											<span id="logout" class="navbar-profile-logout" onclick="authSignout();"><a href="#" title="Sign out" class="sprite sprite-logout"></a></span>

											<div class="navbar-profile-row-1-left">
												<a href="{{ microcosm_url `profile` .User.ID }}" title="View your profile" class="navbar-profile-avatar"><img src="{{ if in .User.AvatarURL `gravatar` }}{{ .User.AvatarURL }}{{ else }}{{ if in .User.AvatarURL `files` }}https://{{ .Site.SubdomainKey}}.microco.sm{{ .User.AvatarURL }}{{ else }}/static/img/avatar.gif{{ end }}{{ end }}" alt="Avatar for {{ .User.ProfileName | safeHTML }}" title="Edit your profile" /></a>
												<a href="{{ microcosm_url `profile` .User.ID }}" title="View your profile" id="profile" class="navbar-profile-name"><strong>{{ .User.ProfileName | safeHTML }}</strong></a>
												<a id="edit_profile" class="navbar-profile-edit" href="{{ microcosm_url `profile-edit` .User.ID }}"><span class="sprite sprite-pencil-small"></span><span class="navbar-profile-edit-text">Edit Profile</span></a>
												<a class="navbar-profile-row-1-huddles" href="{{ microcosm_url `huddle-list` }}">{{ if (gt (microcosm_stat .User.Meta.Stats "unreadHuddles") 0) }}<span class="label label-warning">{{ microcosm_stat .User.Meta.Stats "unreadHuddles" | numcomma }} <span class="sprite sprite-envelope"></span></span>{{ else }}<span class="sprite sprite-envelope"></span>{{ end }}</a>
											</div>

										</div>
										<div class="navbar-profile-row-2">
											<a href="{{ microcosm_url `huddle-list` }}">{{ if gt (microcosm_stat .User.Meta.Stats "unreadHuddles") 0 }}<span class="label label-warning">{{ microcosm_stat .User.Meta.Stats "unreadHuddles" | numcomma }} <span class="sprite sprite-envelope-small"></span></span>{{ else }}<span class="sprite sprite-envelope-small"></span>{{ end }} <strong>Messages</strong></a>
										</div>
									{{ else }}
										<div class="navbar-profile-row-4">
										Browsing as <strong>guest</strong>.
										</div>
										<div class="navbar-profile-row-5">
											<button id="login" class="btn btn-primary" onclick="authSignin();">
												Sign In or Register
											</button>
										</div>
									{{ end }}
								</div><!-- /.navbar-profile -->
							</div>
						</div>

					</div>
				</div>
			</div> <!-- / navbar-header-wrapper -->
			<div class="navbar-nav-wrapper container">
				<div class="row">
					<!-- Collect the nav links, forms, and other content for toggling -->
					<div class="collapse navbar-collapse">
							{{ if .User }}
							<div class="navbar-profile">
								<div class="navbar-profile-row-1">
									<div class="navbar-profile-row-1-left">
										<a href="{{ microcosm_url `profile` .User.ID }}" title="Edit your profile" class="navbar-profile-avatar"><img src="{{ if in .User.AvatarURL `gravatar` }}{{ .User.AvatarURL }}{{ else }}{{ if in .User.AvatarURL `files` }}https://{{ .Site.SubdomainKey}}.microco.sm{{ .User.AvatarURL }}{{ else }}/static/img/avatar.gif{{ end }}{{ end }}" alt="Avatar for {{ .User.ProfileName }}" /></a>
										<a href="{{ microcosm_url `profile` .User.ID }}" title="Edit your profile" class="navbar-profile-name"><strong>{{ .User.ProfileName | safeHTML }}</strong></a>
										<a class="navbar-profile-row-1-huddles" href="{{ microcosm_url `huddle-list` }}">{{ if gt (microcosm_stat .User.Meta.Stats "unreadHuddles") 0 }}<span class="label label-warning">{{ microcosm_stat .User.Meta.Stats "unreadHuddles" | numcomma }} <span class="sprite sprite-envelope"></span></span>{{ else }}<span class="sprite sprite-envelope"></span>{{ end }}</a>
									</div>
								</div>
								<div class="navbar-profile-row-2">
									<a href="{{ microcosm_url `huddle-list` }}">{{ if gt (microcosm_stat .User.Meta.Stats "unreadHuddles") 0 }}<span class="label label-warning">{{ microcosm_stat .User.Meta.Stats "unreadHuddles" | numcomma }} <span class="sprite sprite-envelope-small"></span></span>{{ else }}<span class="sprite sprite-envelope-small"></span>{{ end }} <strong>Messages</strong></a>
								</div>
							</div>
							{{ else }}
							<ul class="nav navbar-nav navbar-nav-unregistered">
								<li class="lh">Join our community</li>
								<li>
									<a href="#" id="loginNavbar" onclick="authSignin();">
										<span class="btn btn-primary btn-block">Sign in or Register</span>
									</a>
								</li>
							</ul>
							{{ end }}
							<ul class="nav navbar-nav">
								<li class="col-sm-4 col-md-3 navbar-nav-search">
									<form class="navbar-form navbar-left" role="search" action="{{ microcosm_url `search` }}">
										<div class="input-group">
											<input
												type="text"
												id="navbar-search-input"
												class="form-control"
												name="q"
												placeholder="Search"
												{{ if (.Query) and (ne .Section `today`) }}{{ if ne .Query.Query "" }}value="{{ .Query.Query }}"{{ end }}{{ end }}
												tabindex="1"
											/>
											{{ if (isNil .Query) or (eq .Section `today`) }}
											<input type="hidden" name="defaults" value="true" />
											{{ end }}
											<span class="input-group-btn">
												<button class="btn btn-default"><span class="sprite sprite-search-small"></span></button>
											</span>
										</div>
									</form>
								</li>
								<li class="lh">Pages</li>
								<li class="first {{ if (eq .Section `home`) or (eq .Section `microcosm`) }}active{{ end }}">
									<a href="{{ microcosm_url `home` }}">Forums</a>
								</li>
								<li {{ if eq .Section `today` }}class="active"{{ end }}>
									<a href="{{ microcosm_url `today` }}">Today</a>
								</li>
								<li {{ if eq .Section `updates` }}class="active"{{ end }}>
									<a href="{{ microcosm_url `update-list` }}">Following</a>
								</li>
								<li {{ if eq .Section `people` }}class="active"{{ end }}>
									<a href="{{ microcosm_url `profile-list` }}?top=true">People</a>
								</li>

								{{ if ge (len .Site.Menu) 1 }}
								<li class="dropdown">
									<a href="#" class="dropdown-toggle" data-toggle="dropdown">{{ .Site.Title | safeHTML }} <b class="caret"></b></a>
									<ul class="dropdown-menu">
									{{ range .Site.Menu }}
										<li><a href="{{ .Href }}"{{ if .Title | safeHTML }} title="{{ .Title | safeHTML }}"{{ end }}>{{ .Text | safeHTML }}</a></li>
									{{ end }}
									</ul>
								</li>
								{{ end }}
							</ul>
							{{ if .User }}
							<ul class="nav navbar-nav navbar-nav-registered">
								<li class="lh">Your account</li>
								<li>
									<a href="{{ microcosm_url `profile-edit` .User.ID }}">Edit profile</a>
								</li>
								<li>
									<a href="{{ microcosm_url `update-settings` }}">Notification Settings</a>
								</li>
								<li>
									<a href="#" id="logoutNavbar" onclick="authSignout();">Sign out</a>
								</li>
							</ul>
							{{ end }}
					</div><!-- /.navbar-collapse -->
				</div>
			</div> <!-- / navbar-nav-wrapper -->
		</nav> <!-- /nav -->

		<div class="container main">
			<div class="row">
				<div class="col-md-9 content">
					{{ template "content" . }}
				</div> <!-- / content -->
				<div class="col-md-3 metabar">
					{{ template "sidebar" . }}
				</div> <!-- / metabar -->
			</div>
		</div>
		<div class="footer">
			<div class="container">
				<ul class="clearfix footnav">
					<li><a href="{{ microcosm_url `home` }}">Forums</a></li>
					<li><a href="{{ microcosm_url `today` }}">Today</a></li>
					<li><a href="{{ microcosm_url `update-list` }}">Following</a></li>
					<li><a href="{{ microcosm_url `profile-list` }}?top=true">People</a></li>
					<li><a href="#" onClick="$('html, body').animate({ scrollTop: 0 }, 'fast'); return false;">Top</a></li>
				</ul>
				<hr />
				<p>&copy; {{ .Site.Title | safeHTML }}, powered by <a href="https://github.com/buro9/microcosm">microcosm</a>.</p>
				<p class="links">
					<a href="{{ microcosm_url `legal-list` }}">About</a>
					<a href="{{ microcosm_url `legal` `terms` }}">Terms of Use</a>
					<a href="{{ microcosm_url `legal` `privacy` }}">Privacy Policy</a>
					<a href="{{ microcosm_url `legal` `cookies` }}">Cookie Policy</a>
					<a href="mailto:{{ .Site.SubdomainKey }}+microcosm@buro9.com">Report a problem</a>
				</p>
			</div>
		</div>

        {{ if (isNil .User) }}
        <div id="modal-signin" class="modal">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header navbar-header-wrapper tiling-bg">
                        <img src="{{ .Site.LogoURL }}" alt="{{ .Site.Title | safeHTML}}" id="logo" />
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    </div>
                    <div class="modal-body">

                        <h3>{{ .Site.Title | safeHTML }}</h3>
                        <p>{{ .Site.Description | safeHTML }}</p>

                        <div class="modal-buttons">
                            <button class="btn btn-lg btn-primary" onclick="authSignin();">Sign in or Register to continue</button>
                        </div>
                    </div>
                    <div class="modal-footer">
                        &copy; {{ .Site.Title | safeHTML }}, powered by <a href="https://github.com/buro9/microcosm">microcosm</a>.<br/>
                    </div>
                </div><!-- /.modal-content -->
            </div><!-- /.modal-dialog -->
        </div>
		{{ end }}

		<script src="/static/3rd/jquery/1.10.2/jquery.min.js"></script>
		<script src="/static/3rd/moment.js/2.10.6/moment.min.js"></script>
		<script src="/static/3rd/prettify/r298/prettify.js"></script>
		<script src="/static/js/bootstrap.min.js"></script>
		<script src="/static/js/base.js"></script>
		<script src="/static/js/metabar.js?v=20160619"></script>

		<!-- Signout form is universal to all auth methods -->
		<form id="signout-form" class="hidden" method="POST" action="{{ microcosm_url `logout` }}"></form>

		{{ if (and (ne .Site.Auth0Domain "") (ne .Site.Auth0ClientID "")) }}
			{{ if (isNil .User) }}
				<script src="/static/3rd/auth0/lock-passwordless/2.2.3/lock-passwordless.min.js"></script>
				<script type="text/javascript">
				function auth0signin() {
					var domain = '{{ .Site.Auth0Domain }}';
					var clientID = '{{ .Site.Auth0ClientID }}';
					var opt = {
						autoclose: true,
						{{ if eq .Site.Auth0Domain "rapha.auth0.com" }}{{ else }}connections: [{{ if eq .Site.Auth0Domain "espruino.eu.auth0.com" }}'google-oauth2','github'{{ else }}'google-oauth2','windowslive'{{ end }}],{{ end }}
						dict: {
							title: 'Sign in'
						},
						icon: '{{ .Site.LogoURL }}',
						defaultLocation: 'GB',
						focusInput: false,
						popup: false,
						primaryColor: '{{ .Site.LinkColor }}',
						socialBigButtons: true,
						authParams: {
							state: '{{ .Request.RequestURI }}'
						},
						callbackURL: '{{ .Site.SiteURL }}/auth0login/',
						responseType: 'code'
					};
					var lock = new Auth0LockPasswordless(clientID, domain);
					{{ if eq .Site.Auth0Domain "rapha.auth0.com" }}lock.emailcode(opt);{{ else }}lock.socialOrEmailcode(opt);{{ end }}
				}
				function authSignin() {
					auth0signin();
				}
				</script>
			{{ else }}
				<script type="text/javascript">
				function authSignout() {
					document.getElementById("signout-form").submit();
				}
				</script>
			{{ end }}
		{{ end }}

{{ template "js" . }}
<script type="text/javascript">
{{ if (eq .Site.SubdomainKey `dev1`) or (eq .Site.SubdomainKey `dev2`) }}window['ga-disable-UA-36951023-2'] = true;{{ end }}
(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)})(window,document,'script','/static/3rd/isogram/201606011835/isogram.js','isogram');
isogram('create', 'UA-36951023-2', 'auto');
{{ if .User }}isogram('set', 'userId', {{ .User.ID }});{{ end }}
isogram(function(tracker) {
	tracker.set('sendHitTask', function(model) {
		var payLoad = model.get('hitPayload');
		var isogramRequest = new XMLHttpRequest();
		isogramRequest.open('get','/isogram?ua='+encodeURI(window.navigator.userAgent)+'&'+payLoad,true);
		isogramRequest.send();
	});
});
isogram('send', 'pageview');

{{ if .Site.GaWebPropertyID }}
(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)})(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
ga('create', '{{ .Site.GaWebPropertyID }}', 'auto');
{{ if .User }}ga('set', 'userId', {{ .User.ID }});{{ end }}
ga('send', 'pageview');
{{ end }}
</script>
	</body>
</html>
{{ end }}

// Optional templates are defined as empty
{{ define "css" }}{{ end }}
{{ define "sidebar" }}{{ end }}
{{ define "js" }}{{ end }}
