
{{ define "title" -}}
<title>{{ .Site.Title }}</title>
<meta name="Description" content="{{ .Site.Description }}" />
{{- end }}

{{ define "content" -}}
    {{- template "content_microcosm" . -}}
{{- end }}

{{ define "sidebar" -}}
    {{- template "sidebar_home" . -}}
{{- end }}
