{{ define "block_profile" }}
{{ $profile := .profile }}
{{ $sendMessage := .sendMessage }}
{{ $showAvatar := .showAvatar }}
{{ $site := .site }}
{{ $user := .user }}
<li class="list-collection-row" id="profile{{ $profile.ID }}">
	<div class="row block">
		<div class="col-sm-8">
			{{ if $showAvatar }}
			<div class="cell-icon">
				<a class="sprite sprite-user" title="profile"></a>
			</div>
			{{ end }}
			<div class="cell-icon-offset">
				<div class="cell-title">
					<a href="{{ microcosm_url `profile` $profile.ID }}"><img src="{{ microcosm_avatar_url $profile.AvatarURL $site.SubdomainKey }}" alt="Avatar for {{ $profile.ProfileName | safeHTML }}" align="left" /> <strong>@{{ $profile.ProfileName | safeHTML }}</strong></a>
				</div>
			</div>
		</div>
		<div class="col-sm-4">
			{{ if $sendMessage }}
			{{ if $user }}
			<div class="cell-profile-message">
				<a class="pull-right" href="{{ microcosm_url `huddle-create` }}?to={{ $profile.ID }}">send message</a>
			</div>
			{{ end }}
			{{ end }}
		</div>
	</div>
</li>
{{ end }}