
{{ define "title" }}
<title>{{ .Site.Title | safeHTML }}</title>
<meta name="Description" content="{{ .Site.Description | safeHTML }}" />
{{ end }}

{{ define "content" }}
    {{ template "content_microcosm" . }}
{{ end }}

{{ define "sidebar" }}
    {{ template "sidebar_home" . }}
{{ end }}
